<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lihuan.com.mapper.ZjClassMapper" >

    <select id="getOne" resultType="cn.lihuan.com.entity.ZjClass">
        SELECT * FROM zj_classe WHERE zc_id = #{id}
    </select>

</mapper>